* {
  margin: 0;
  padding: 0;
}


#homee{
  min-width: 100%;
  height: 1000px;
}
#home{
  height: 475px;
  width: 100%;
}
#infos{
  width: 100%;
  height: 700px;
  background-color: #e6e6e6;
}
.imgdog{
  background-image: url('../img/img1.png');
  width: 500px;
  height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 60px;
  position: absolute;
  left: 85%;
  transform: translateX(-85%);
}
.imgbackgroundhome{
  background-image: url('../img/img2.jpg');
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 60px;
}
.boxlaranja{
  position: absolute;
  width: 600px;
  height: 400px;
  z-index: 3;
  left: 20%;
  transform: translateX(-20%);
  margin-top: 30px;
}
.conteudo{
  background-color: white;
  width: 600px;
  height: 150px;
  z-index: 2;
  position: absolute;
  left: 20%;
  transform: translateX(-20%);
  margin-top: -160px;
  -webkit-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
}
.conteudo h1{
  color: #FA944B;
  text-align: center;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-weight: bolder;
}
.conteudo span{
  color: grey;
  font-size: 12px;
  margin-left: 40px;
}
.icon{
  width: 60px;
  height: 60px;
}
.box-escrito{
  width: 450px;
  height: 100px;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
.box-escrito h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
  color: #FA944B;
  font-size: 24px;
}
.box-escrito2{
  width: 450px;
  height: 100px;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FA944B;
  margin-top: 140px;
  -webkit-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
}
.box-escrito2 span{
  text-align: center;
}
.box-escrito3{
  width: 450px;
  height: 100px;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FA944B;
  margin-top: 260px;
  -webkit-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
}
.box-escrito4{
  width: 450px;
  height: 100px;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FA944B;
  margin-top: 380px;
  -webkit-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
box-shadow: 4px 2px 24px 0px rgba(0,0,0,0.75);
}
.wave{
  margin-top: 200px;
  bottom: 0;
  left: 0;
}
/* Footer */
footer {
  background: #273036;
  background: -webkit-linear-gradient(59deg, #273036, #273036);
  background: linear-gradient(59deg, #273036, #273036);
  color: white;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

h1 {
  text-align:center;
}
p {
  font-style:italic;
}

/* LOGIN */
#login{
  height: 100%;
  width: 100%;
  background-color: #454d55;

}

.loginbox{
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: white;
  opacity: 0.8;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-box-shadow: 1px 3px 20px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 3px 20px 11px rgba(0,0,0,0.75);
box-shadow: 1px 3px 20px 11px rgba(0,0,0,0.75);
border-radius: 8px;
}

.titulo-login{
  width: 80%;
  height: 80px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.titulo-login h1{
  line-height: 80px;
  color: #dc3545;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #dc3545;
	background:linear-gradient(to bottom, #dc3545 5%, #dc3545 100%);
	background-color:#dc3545;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
  text-shadow:0px 1px 0px #dc3545;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.myButton:hover {
	background:linear-gradient(to bottom, #dc3545 5%, #dc3545 100%);
  background-color:#dc3545;
  text-decoration: none;
  color: white;
}
.myButton:active {
  border-radius: 50px;
  border: solid 2px #dc3545;
}
.form-group{
  width: 300px;
  margin-left: 45px;
}
.form-group input:focus{
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
/* End login */

.box-cadastro-clinica{
  width: 400px;
  height: 400px;
  background-color: rgb(169, 169, 169);
  z-index: 2;
  box-shadow: inset 0 1px 1px rgb(169, 169, 169), 0 0 8px rgb(169, 169, 169);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 30%;
  border-radius: 8px;
}
.box-cadastro-clinica h2{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
#homeee{
  min-width: 100%;
  height: 800px;
  background-color: darkslategrey;
}
.wave2{
  margin-top: 450px;
  bottom: 0;
  left: 0;
}
.box-admin-clinica{
  width: 400px;
  height: 100px;
  background-color: rgb(169, 169, 169);
  z-index: 2;
  box-shadow: inset 0 1px 1px rgb(169, 169, 169), 0 0 8px rgb(169, 169, 169);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 10%;
  border-radius: 8px;
  margin-bottom: -200px;
}
.box-admin-clinica h2{
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
#mainadmin{
  width: 100%;
  height: 800px;
}